gravity_project/getidservice.wsdl

<?xml version= '1.0' encoding= 'UTF-8' ?>
<wsdl:definitions
     name="getidservice"
     targetNamespace="http://oracle.com/sca/soapservice/Gravity/gravity_project/getidservice"
     xmlns:plnk="http://docs.oasis-open.org/wsbpel/2.0/plnktype"
     xmlns:inp2="http://xmlns.oracle.com/singleString"
     xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"
     xmlns:inp1="http://oracle.com/sca/soapservice/Gravity/gravity_project/getidservice"
     xmlns:tns="http://oracle.com/sca/soapservice/Gravity/gravity_project/getidservice"
    >
    <plnk:partnerLinkType name="getidservice">
        <plnk:role name="getidserviceProvider" portType="tns:execute_ptt"/>
    </plnk:partnerLinkType>
    <wsdl:types>
        <schema xmlns="http://www.w3.org/2001/XMLSchema" targetNamespace="http://oracle.com/sca/soapservice/Gravity/gravity_project/getidservice"
             elementFormDefault="qualified">
            <element name="string" type="string"/>
            <element name="integer" type="integer"/>
        </schema>
        <xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema">
            <xsd:import namespace="http://xmlns.oracle.com/singleString" schemaLocation="xsd/singleString.xsd"/>
        </xsd:schema>
    </wsdl:types>
    <wsdl:message name="requestMessage">
        <wsdl:part name="req" element="inp1:string"/>
    </wsdl:message>
    <wsdl:message name="replyMessage">
        <wsdl:part name="reqid" element="inp1:integer"/>
    </wsdl:message>
    <wsdl:message name="faultMessage">
        <wsdl:part name="soapfault" element="inp2:singleString"/>
    </wsdl:message>
    <wsdl:portType name="execute_ptt">
        <wsdl:operation name="execute">
            <wsdl:input message="inp1:requestMessage"/>
            <wsdl:output message="inp1:replyMessage"/>
            <wsdl:fault name="executefault" message="inp1:faultMessage"/>
        </wsdl:operation>
    </wsdl:portType>
</wsdl:definitions>
