gravity_project/xsd/EnterDetailsPayload.xsd

<?xml version = '1.0' encoding = 'UTF-8'?>
<schema targetNamespace="http://xmlns.oracle.com/bpel/workflow/task" xmlns:tns="http://xmlns.oracle.com/bpel/workflow/task" attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns="http://www.w3.org/2001/XMLSchema" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
   <complexType name="EnterDetailsPayloadType">
      <sequence>
         <element name="ReqID" type="xsd:integer"/>
         <element name="RequestType" type="xsd:string"/>
         <element name="RequestDetail" type="xsd:string"/>
      </sequence>
   </complexType>
</schema>
